<p id="notice"><%= notice %></p>

<h1>See all lists</h1>

<%= render 'list' %>

<br>

<%= link_to 'New List', new_list_path %>
<%= link_to 'Home', controller: :welcome %>
<%= link_to 'Articles', controller: :welcome %>
