<%= render 'shared/errors', obj: @article %>

<%= form_for @article do |f| %>
	<p>
		<%= f.label :categories %>
		<%= f.collection_check_boxes :keyword_ids, Keyword.all, :id, :name do |k| %>
			<% k.label {k.check_box + k.text}%>
		<% end %>
		<% if current_user.admin? %>
			<p>
				<%= link_to 'Add category', new_keyword_path %>
			</p>
		<% end %>

	</p>

	<p>
		<%= f.label :link_source %>
		<%= f.text_field :link_source %>
	</p>

	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>	

	<p>
		<%= f.label :image_link %>
		<%= f.text_field :image_link %>
	</p>

	<p>
		<%= f.submit(@article.new_record? ? "Share article" : "Edit article") %>
	</p>
<% end %>
