<h1> Articles index </h1>

<%= render 'article', obj: @articles %>

<%= link_to 'Back', controller: 'welcome' %><br />
<%= link_to 'New article', new_article_path %><br />
<%= link_to 'See all keywords', controller: 'keywords' %><br />
<%= link_to 'Add new keywords', new_keyword_path %><br />

