<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>




<%= link_to 'See all articles', controller: 'articles' %><br />
<%= link_to 'Share a new article', new_article_path %> <br />
<%= link_to 'See all keywords', controller: 'keywords' %> <br />
<%= link_to 'Add a new keyword', new_keyword_path %> <br />
<%= link_to 'Edit User', edit_user_registration_path %><br />
<% if user_signed_in? %>
	<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<% end %>