 <h1><%= link_to 'About users', root_path %></h1>

<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<br />
<%= link_to 'Sign in', new_user_session_path %>
<br />
<% if user_signed_in? %>
	<%= link_to 'Edit User', edit_user_registration_path %> | 
	<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<% end %>
<br />
<br />
<%= link_to 'Articles', controller: 'articles' %>
<br />
<%= link_to 'Lists', controller: 'lists' %>
<br />
<%= link_to 'Categories', controller: 'keywords' %>
<br />

<%= render 'articles/article', obj: @articles %>
<br />
<%= render 'lists/list' %>







<br />
<%= link_to 'Items', controller: 'items' %>