<div class="navbar">
  <div class="navbar__container">
    <div class="navbar__link">
      <div class="navbar__link__color">
        <%= link_to 'About Users', root_path %>
        <%= link_to 'Articles', articles_path %>
        <%= link_to 'New article', new_article_path %>
        <%= link_to 'Lists', lists_path %>
        <%= link_to 'Categories', keywords_path %>

        <% if !user_signed_in? %>
          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
          <%= link_to 'Sign in', new_user_session_path %>
        <% else %>
          <%= link_to 'Edit User', edit_user_registration_path %> | 
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% end %>

      </div>
    </div>
  </div>
</div>